.blog_card {
  margin-bottom: 2rem;
  border-top: 1px solid #333;
}

.h1{
  margin: .5rem 0 .5rem 0;
}

.blog_card_body p:first-child {
  margin-top: .25rem;
}

.blog_card_body p:last-child {
  margin-bottom: .75rem;
}

.more_link {
  text-transform: capitalize;
  font-weight: bold;
  font-size: smaller;
  color: var(--white);
  background-color: var(--blue5);
  ;
  padding: .25rem 1rem;
}