* {
  min-width: 0;
}

:root {
  --orange: #c36d00;
  --black: #000000;

  --black:#222222;
  --gray1:#383838;
  --gray2:#767676;
  --gray3:#9f9f9f;
  --gray4:#c8c8c8;
  --gray5:#e3e3e3;
  --white:#fcfcfc;

  --blue1: #7887AB;
  --blue2: #0D4DE1;
  --blue3: #2E4272;
  --blue4: #192B53;
  --blue5: #061539;

  --yellow1: #FFF2AA;
  --yellow2: #FFD700;
  --yellow3: #AA9839;
  --yellow4: #7C6D1C;
  --yellow5: #554800;

  --orange1: #FFCEAA;
  --orange2: #FF6C00;
  --orange3: #AA6939;
  --orange4: #7C451C;
  --orange5: #7C451C;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  line-height: 1.35rem;
  grid-template: 
    "header header header"
    "nav nav nav"
    "pri pri pri"
    "footer footer footer"
  ;
  grid-template-columns: 1fr 1fr 25%;

  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif; 
  font-size: 12pt;
}

body header {
  padding: 3vw 3vw 0 3vw;
  grid-area: header;
  background: var(--blue5);
  color: var(--orange2);
}

body:has(input#about_switch) {
  & aside.sidebar {
    display: none;
  }
  & .pri {
    grid-template-columns: 1fr;
    grid-template: 
      "main"
    ;
  }
}

body .pri {
  color: var(--blue5);

  grid-area: pri;
  display: grid;
  padding: 3vw 3vw 0 3vw;
  gap: 1rem;
  grid-template: 
  "main aside"
  ;
  grid-template-columns: 1fr 25%;
;
}

body nav {
  grid-area: nav;
  padding: 0 3vw 0 3vw;
  border-top: 1px solid var(--blue5);
  border-bottom: 1px solid var(--blue5);
  background-color: var(--gray5);
}

@media (max-width: 768px) { 
  body .pri {
    grid-template-columns: 1fr;
    grid-template: 
      "main"
      "aside"
    ;
  }
}

body footer {
  border-top: 1px solid var(--blue5);
  color: var(--blue5);
  background-color: var(--gray5);
  grid-area: footer;
  padding: 1rem 3vw 1rem 3vw;
  margin-top: 1rem;
}

.pri .main {
  grid-area: main;
}

.pri aside {
  grid-area: aside;
}

a, a:link, a:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--blue5)
}

aside a:not(:has(img)):hover {
  color: var(--orange1);
  background-color: var(--blue5);
  margin-left: -.25rem;
  padding: 0 .25rem;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  padding: 0;
  list-style: none;
}