
:root {
  --orange: #c36d00;
  --black: #000000;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template: 
    "header header header"
    "nav nav nav"
    "pri pri pri"
    "footer footer footer"
  ;
  grid-template-columns: 1fr 1fr 25%;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11pt;
}

body header {
  padding: 3vw 3vw 0 3vw;
  grid-area: header;
  background: var(--black);
  color: var(--orange);
}

body .pri {
  grid-area: pri;
  display: grid;
  padding: 3vw 3vw 0 3vw;
  gap: 1rem;
  grid-template: 
  "main aside"
  ;
  grid-template-columns: 1fr 25%;
;
}

body nav {
  grid-area: nav;
  padding:0 3vw 0 3vw;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  background-color: lightgray;
}

@media (max-width: 768px) { 
  body .pri {
    grid-template-columns: 1fr;
    grid-template: 
      "main"
      "aside"
    ;
  }


}

body footer {
  grid-area: footer;
  padding: 1rem 3vw 0 3vw;
  margin-bottom: 1rem;
}

.pri .main {
  grid-area: main;
}

.pri aside {
  grid-area: aside;
}

a, a:link, a:visited {
  text-decoration: none;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  padding: 0;
  list-style: none;
}