
@keyframes typey{
    from { width: 0rem };
    to { width: 23.4rem };
}

.root {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Courier New', Courier, monospace;
} 

.header {
    overflow: hidden;
    width: 24rem;
    font-size: clamp(1.5rem, 5.5vw, 3rem);
    line-height: 3rem;
    animation: typey 1.25s steps(13, end) forwards;
}

.logo {
    /* height: 128px; */
    width: clamp(48px, 12vw, 128px);
    height: clamp(48px, 12vw, 128px);
}